@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

/* 🌍 Variables globales */
:root {
    --bg-color: #ffffff;
    --text-color: #333;
    --task-bg: #ececec;
    --border-color: #d4d4d4;
    --button-bg: #007bff;
    --button-hover: #0056b3;
    --modal-bg: #ffffff;
    --modal-text: #333;
    --sidebar-btn-hover: #c2c2c2;
}

/* 📌 Variables para modo oscuro */
[data-theme="dark"] {
    --bg-color: #181818;
    --text-color: #f5f5f5;
    --task-bg: #444;
    --border-color: #555;
    --button-bg: #007bff;
    --button-hover: #0056b3;
    --modal-bg: #222;
    --modal-text: #f5f5f5;
    --sidebar-btn-hover: #646464;
}

/* 📌 Fuente global */
* {
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.projects-container {
    padding: 2rem;
  }
  
  .projects-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .project-card {
    background-color: var(--task-bg);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .project-header {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .project-detail-view {
    padding: 2rem;
  }
  
  .project-detail {
    background-color: var(--task-bg);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  textarea {
    box-sizing: border-box;
    width: 100%;
    height: 8rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    resize: vertical;
    background-color: var(--bg-color);
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .delete-btn {
    background-color: #e74c3c;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
  }
  
  .delete-btn:hover {
    background-color: #c0392b;
  }